<app-navbar></app-navbar>

<div class="container">
    <div class="display">
        <div style="display: flex;">
           <span> <img src="../../assets/images/backarrow.png" alt="arrowimg"></span>
            <span class="ml-4 mt-3"><h4>Input Allocations</h4></span>
        </div>
        <div>
            <button class="downloadbtn">Download</button>
        </div>

    </div>
</div>

<div class="container border">

    <div class="container">
        <div class="display p-2">
            <input type="search" class="inputs" placeholder="Search with Name" name="" id="">
            <div>
                <img claas="imgw" src="../../assets/images/Group 170.png" alt="greaterthan">
                <img class="imgw" src="../../assets/images/Group 169.png" alt="lessthan">

            </div>
        </div>

      
    </div>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">HeadQuarters(10)</th>
                <th scope="col">Augtram Tablets</th>
                <th scope="col">C Furd 250MG</th>
                <th scope="col">HAugtram Tablets</th>
                <th scope="col">Rabez Tabs</th>
                <th scope="col">Augtram Tshirt</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>Hyderabad</td>
                <td>8 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>

              </tr>
              <tr>
              
                <td>Hyderabad</td>
                <td>8 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>

              </tr>  <tr>
            
                <td>Hyderabad</td>
                <td>8 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>

              </tr>  <tr>
              
                <td>Hyderabad</td>
                <td>8 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>
                <td>10 <span style="float: right;"><img src="../../assets/images/edit 1.png" alt=""></span></td>

              </tr> 
            </tbody>
            <tbody>
                <tr class="tdvalue">
                    <td></td>
                    <td>23567</td>
                    <td>23567</td>
                    <td>23567</td>
                    <td>23567</td>
                    <td>23567</td>

                </tr>
            </tbody>
          </table>
    </div>
</div>
